<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.kanalitnuk.aquaman">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        android:name="id.kanalitnuk.aquaman.others.KanalitnuK">

        <activity android:name="id.kanalitnuk.aquaman.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity android:name="id.kanalitnuk.aquaman.activities.ApplyWallpaper">
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="id.kanalitnuk.aquaman.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="id.kanalitnuk.aquaman.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.kanalitnuk.aquaman.MainActivity" />
        </activity>

        <activity
            android:name="id.kanalitnuk.aquaman.activities.FavoritesActivity"
            android:label="@string/title_activity_favorites_fragment"
            android:parentActivityName="id.kanalitnuk.aquaman.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.kanalitnuk.aquaman.MainActivity" />
        </activity>

        <activity
            android:name="id.kanalitnuk.aquaman.activities.AboutAppActivity"
            android:parentActivityName="id.kanalitnuk.aquaman.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.kanalitnuk.aquaman.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ADMOB_APP_ID"/>
    </application>

</manifest>